<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test</title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
</head>

<body>
  <div id="msg"></div>
  <button onclick="startJob()">START JOB</button>
  <script>
    function startJob() {
      socket.emit("startJob", {
        simulateType: 'wait',
        simulateAmount: 100,
        parallel: 2,
        timeGap: 1,
        capacity: 100, // 容量
        waitLineLimit: 100, // 排隊量
        throttle: 1 // 放棄率
      });
    }
    // 當觸發連線建立事件
    // 發送 greet 事件給伺服器
    socket.on("connect", function () {
      console.log('Socket client connected.')
    });
    socket.on('redisConnected', (msg) => {
      console.log('Redis Subscribed: ' + JSON.stringify(msg))
    })
    socket.on("pipeEvent", function (msg) {
      document.getElementById("msg").innerText = msg;
    });
    socket.on("pipeDone", function (msg) {
      document.getElementById("msg").innerText = 'Done';
    });
  </script>
</body>

</html>